<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webianks.exp.crimson">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".CrimsonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screens.SearchClinics" />
        <activity android:name=".reports.SaveReports" />
        <activity android:name=".reports.ViewReports" />
        <activity
            android:name=".screens.CheckupReminders"
            android:label="@string/reminders" />

        <activity android:name=".all_tests.StartTest">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.MainActivity" />
        </activity>

        <activity
            android:name=".all_tests.TestInstruction"
            android:label=" "
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.MainActivity" />
        </activity>
        <activity
            android:name=".ColorBlindnessTest"
            android:label=" "
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.MainActivity" />
        </activity>
        <activity
            android:name=".AstigmatismTest"
            android:label=" "
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.MainActivity" />
        </activity>
        <activity
            android:name=".AmslerGridTest"
            android:label=" "
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.MainActivity" />
        </activity>


        <activity
            android:name=".reports.FullViewReport"
            android:theme="@style/AppThemeTransparent" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCBEquuoEzZE9cKQ-S4MrX24qY0Yhg7hb0" />

        <service
            android:name=".sleep_better.NotificationService"
            android:exported="false" />
        <service
            android:name=".sleep_better.ScreenFilterService"
            android:exported="false" />

        <receiver
            android:name=".sleep_better.ScreenReceiver"
            android:exported="false" />
        <receiver
            android:name=".sleep_better.MyAlarmReciever"
            android:exported="false" />

    </application>

</manifest>